.btn-sq {
     width: 100%!important;
     padding-top: 25%!important;
     padding-bottom: 25%!important;
}
 .btn-sq-sm {
     width: 100%!important;
     padding-top: 10%!important;
     padding-bottom: 10%!important;
}
 .btn-sq-sm.selected {
     border: 3px solid red;
}
 .btn{
     cursor: pointer;
}
 
